#app {
  width: 400px;
}

.game {
  padding: 15px;
  border: 1px solid black;
  .status {
    padding: 15px;
    border: 1px solid black;
  }
  .time {
    padding: 15px;
    border: 1px solid black;
  }
  .resources {
    padding: 15px;
    border: 1px solid black;
      .resource {
        padding: 15px;
        border: 1px solid black;
      }
  }
  .skills {
    padding: 15px;
    border: 1px solid black;
    .skill {
      padding: 15px;
      border: 1px solid black;
    }
  }
  .interactions {
    padding: 15px;
    border: 1px solid black;
      .actions {
        padding: 15px;
        border: 1px solid black;
        .action {
          padding: 15px;
          border: 1px solid black;
        }
      }
      .items {
        padding: 15px;
        border: 1px solid black;
        .item {
          padding: 15px;
          border: 1px solid black;
        }
      }
  }
}
